
@import "posts";
@import "card";
@import "pagination";

.site-main{
  padding: $indent-lg 0 $indent-lg 0;
  .title{
    margin-bottom: $indent-lg;
  }
}
.title{
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}